body{
	background-color:#e6f2ff;
	font-family: Georgia;
	font-size: 20px;}
h1+h1{
	color:#0099cc;
	font-family: "Lucida Sans Unicode";
	text-align:center;
	font-size: 40px;
	border: 3px dotted #00bfff;
	background-color:#e6f2ff;
	}
h2{
	color:#00bfff;
	text-align: center;
	font-family: "Lucida Sans Unicode";
	}
ul{
	color:#003e80;
	list-style-type: square;
	font-family: Georgia;
	font-size: 40px;
}
ul>li>ul{
	list-style-type: disc;
	font-size: 30px;
	color:#00bfff;
}
h5{
	list-style-type: circle;
	font-size: 30px;
	color:#003e80;
	font-family: arial;
}
div{
	border-bottom: 2px solid #003e80;
}
a:link{
	background-color:#3385ff;
	border: none;
	color:#e6f2ff;
	padding: 1px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
a:visited{
	color:#b3b3ff;
}
a:hover{
	color:#0000ff;
}
a:active{
	color:#191966;
}
div:hover{
	color:#ffffff;
}
h1{
	color:#e6f2ff;
	font-size: 60px;
	border: 3px dashed #3385ff;
	background-color:#003e80;
	text-align: center;
	font-family: Georgia
	}
p.gif{
	text-align: center;}