*{
	box-sizing: border-box;
}
p.box{
	width: 600px;
	border: 3px solid #ffffff;
	padding: 20px;
	margin: 20px 350px;
	font-family: Georgia;
	font-size: 25px;
	float: left clean;
	color:#b30000;
}
p.box1{
	width: 800px;
	border: none;
	padding: 20px;
	margin: 80px 0px 5px 5px;
	font-family: Georgia;
	font-size: 25px;
	float: right;
	color:#b30000;
}
body{
	background-color:#ffe6e6;
	text-align: center;
	font-family: Georgia;
	font-size: 20px;
}
h1.tit{
	color:#ffe6e6;
	font-size: 60px;
	border: 3px dashed #cc6666;
	background-color:#b30000;
	}
div{
	border-bottom: 5px dotted white;
	border-top:	5px dotted white;
	}
h1{
	color:#b30000;
	font-size: 40px;
	border-bottom: 5px dotted white;
	border-top:	5px dotted white;
	}
h2.rit{
	color:#cc6666;
	border: 2px solid #cc6666;
	font-family: Arial;
	font-size: 33px}
h2{
	color:#cc6666;
	font-family: Arial;
	font-size: 20px}
p.aq{
	color:#ff0000;
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	border: 2px solid #ff0000;
	background-color:#ffffff;
	}
p{
	color:#ff0000;
	text-align: center;
	font-size: 30px;
	font-family: verdana;}
h4{
	color:#b30000;
	}
ul{
	color:#cc6666;
	text-align: left;
	font-family: arial}
li{
	color:#cc6666;}
p.center{
	color:#b30000;
	text-align: center;
	font-size: 25px;
}
p:hover{
	color:#b30000;}

a:link{
	background-color:#ecc6c6;
	border: none;
	color:#c65353;
	padding: 1px 5px;
	text-align: center;
	text-decoration: none;
}
a:visited{
	color:#993333;
}
a:hover{
	color:#c65353;
}
a:active{
	color:#e60000;
}
div:hover{
	color:#ffffff;
}
